.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.contentCep {
    display: flex; 
    flex-direction: column;
    h2 {
        font-weight: 600;
        font-size: 1.25rem;

        color: #BDBDBD;

        text-align: center;
    }

    ul {
        list-style: none;

        margin-top: 3rem;

        li {
            & + li{
                margin-top: .75rem;
            }
            
            h4 {
                color: var(--text-input);
                font-size: 1.42rem;
                font-weight: 600;
            }
            
            p {
                color: #828282;
                font-weight: 500;
                font-size: 1.25rem;
                padding: .4rem .5rem;
                border-bottom: 1px solid #353535;
            }
        }

        .cityUF {
            display: flex;
            width: 100%;
            justify-content: space-between;

            & div:first-child {
                width: 75%;
            }

            & div:last-child {
                width: 20%
            }
        }
    }

    button {
        height: 3.5rem;
        width: 14.75rem;

        border: 0;
        border-radius: .5rem;

        background: var(--orange);
        color: var(--white);

        margin: 2.5rem auto 0;

        font-weight: 700;

        transition: filter .2s;

        &:hover {
            filter: brightness(.85);
        }

    }

}

img.scroll {
    position: absolute;
    top: auto;
    bottom: -15px;

    width: 28px;

    animation: scroll .8s linear infinite;

    display: none;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    } 50% {
        transform: translateY(-10px);
    } 100% {
        transform: translateY(0)
    }
}

@media (max-width:768px) {
    .container {
        flex-direction: column;

        h2 { 
            margin-top: 1.5rem;
        }

        ul {
            margin-top: 1.5rem;
        }
    }

    img.scroll {
        display: block;
    }
}