.container {
    display: flex;
    background: var(--background);
    height: 100vh;
    position: relative;

    img#logo {
        position: absolute;
        top: 1rem;
        z-index: 1;
    }

    .content {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        img {
            width: 80%;
            max-width: 768px;
        }
    }
}

.searchCepContainer {
    width: 100%;

    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: column;

        label {
            color: var(--white);
            font-weight: 500;
            font-family: Poppins;
            font-size: 1.42rem;

            letter-spacing: 1px;
        }

        input {
            height: 3.5rem;
            margin-top: .5rem;
            border: 0;
            padding: .5rem .75rem;
            outline:0;
            
            border-bottom: 1px solid #353535;

            background: transparent;
            color: var(--gray);

            letter-spacing: 1px;

            &[type=number]::-webkit-inner-spin-button { 
                -webkit-appearance: none;
                
            }
            &[type=number] { 
                -moz-appearance: textfield;
                appearance: textfield;
            
            }

            &::placeholder {
                color: #353535;
            }
        }
    }

    button {
        height: 3.5rem;
        width: 14.75rem;

        border: 0;
        border-radius: .5rem;

        background: var(--orange);
        color: var(--white);

        margin: 2.5rem auto 0;

        font-weight: 700;

        transition: filter .2s;

        &:hover {
            filter: brightness(.85);
        }
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;

        .content {
            display: none;
        }
    }
}